In [1]:
my_tuple = ()
my_tuple

()

In [2]:
type(my_tuple)

tuple

In [3]:
tuple_int = (1,2,3)
tuple_int

(1, 2, 3)

In [12]:
tuple_str = ("Hello","Python")
tuple_str

('Hello', 'Python')

In [6]:
print(tuple_int,tuple_str)

(1, 2, 3) ('Hello', 'Python')

In [13]:
combined_tuple = tuple_int + tuple_str
combined_tuple

(1, 2, 3, 'Hello', 'Python')

In [14]:
tuple_str = tuple_str * 3
tuple_str

('Hello', 'Python', 'Hello', 'Python', 'Hello', 'Python')

In [15]:
mixed_tuple =(1,1.2,"Hello")
mixed_tuple

(1, 1.2, 'Hello')

In [16]:
my_tuple = 1,4.5,"Python"
my_tuple

(1, 4.5, 'Python')

In [17]:
my = 1,
my

(1,)

In [18]:
type(my)

tuple

In [22]:
a , b , c = my_tuple
a , b ,c

(1, 4.5, 'Python')

In [23]:
nested_tuple = (1,2,3,(4,5,6))
nested_tuple

(1, 2, 3, (4, 5, 6))

In [24]:
my_tuple = ('p','e','r','m','i','t')
my_tuple

('p', 'e', 'r', 'm', 'i', 't')

In [27]:
my_tuple[0]

'p'

In [28]:
my_tuple[6]

IndexError: tuple index out of range

In [39]:
mixed_tuple = ("mouse",[8,4,6,7,3,1],(1,2,3))
mixed_tuple

('mouse', [8, 4, 6, 7, 3, 1], (1, 2, 3))

In [30]:
mixed_tuple[0]

'mouse'

In [31]:
mixed_tuple[1]

[8, 4, 6]

In [42]:
mixed_tuple[1][0]

8

In [43]:
mixed_tuple[1][4:1:-1]

[3, 7, 6]

In [44]:
tuple_str

('Hello', 'Python', 'Hello', 'Python', 'Hello', 'Python')

In [47]:
tuple_str.index("Python")

1

In [49]:
tuple_str.count("Python")

3

In [50]:
'Python' in tuple_str

True

In [52]:
'python' not in tuple_str

True

In [53]:
tuple_int

(1, 2, 3)

In [54]:
sum(tuple_int)

6

In [55]:
list(tuple_int)

[1, 2, 3]

In [56]:
set(tuple_int)

{1, 2, 3}

In [57]:
immutable_tuple = (1,2,3,4,5,6)
immutable_tuple

(1, 2, 3, 4, 5, 6)

In [58]:
immutable_tuple[0] = 12
immutable-tuple

TypeError: 'tuple' object does not support item assignment

In [59]:
immutable_tuple_1 = (1,2,3,4,5,[6,7,8])
immutable_tuple_1

(1, 2, 3, 4, 5, [6, 7, 8])

In [61]:
immutable_tuple_1[5][0] = 9
immutable_tuple_1

(1, 2, 3, 4, 5, [9, 7, 8])

In [62]:
my_tuple = ('p','y','t','h','o','n')
my_tuple

('p', 'y', 't', 'h', 'o', 'n')

In [64]:
del my_tuple[3]

TypeError: 'tuple' object doesn't support item deletion

In [65]:
del my_tuple
my_tuple

NameError: name 'my_tuple' is not defined

In [66]:
tuple_a = (1,2,3,4,5,6)
tuple_b = ('a','b','c','d','e')
tuple_a,tuple_b

((1, 2, 3, 4, 5, 6), ('a', 'b', 'c', 'd', 'e'))

In [74]:
zipped = zip(tuple_a , tuple_b)
print(zipped)

<zip object at 0x0000028993DA6C00>

In [75]:
result = tuple(zipped)
print(result)

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'))

In [77]:
tuple_x , tuple_y =zip(*result)

In [78]:
tuple_x

(1, 2, 3, 4, 5)

In [79]:
tuple_y

('a', 'b', 'c', 'd', 'e')

In [86]:
a = ("python","linux","HTML")
b = ("programming language","OS","Front end")
x = zip(a,b)
print(x)

<zip object at 0x0000028993DB0280>

In [87]:
result = dict(x)
print(result)

{'python': 'programming language', 'linux': 'OS', 'HTML': 'Front end'}

In [104]:
number_list = [1,2,3]
str_list = ['one','two','three']
number_tuple = ("ONE","TWO","THREE")
result = zip(number_list,str_list,number_tuple)

In [105]:
result_set = set(result)
result_set

{(1, 'one', 'ONE'), (2, 'two', 'TWO'), (3, 'three', 'THREE')}