In [6]:
def my_introduction():
    print("My name is Akshay")
    print('I live in CKM')
my_introduction()

My name is Akshay
I live in CKM

In [7]:
def introduction(name):
    print("My name is", name)
    print('I live in CKM')
introduction("Akshay")

My name is Akshay
I live in CKM

In [8]:
def general_introduction(name, city):
    print("My name is", name)
    print('I live in ', city)
general_introduction("Akshay","BNG")

My name is Akshay
I live in  BNG

In [10]:
my_introduction("Akshay")

TypeError: my_introduction() takes 0 positional arguments but 1 was given

In [11]:
introduction("Akshay","CKm")

TypeError: introduction() takes 1 positional argument but 2 were given

In [12]:
general_introduction("Akshay")

TypeError: general_introduction() missing 1 required positional argument: 'city'

In [13]:
def square(x):
    print(f"sqaue of {x} is {x*x}")
square(2)

sqaue of 2 is 4

In [14]:
num = 24
square(num)

sqaue of 24 is 576

In [17]:
def my_savings(a,b):
    print("my savings is :", a-b)

In [18]:
my_savings(1000,300)

my savings is : 700

In [25]:
salary =  6000
expenses = 5370

def savings(salary,expenses):
    print("my savings is :", salary-expenses)

In [26]:
savings(salary,expenses)

my savings is : 630

In [27]:
savings(20000,7000)

my savings is : 13000

In [29]:
a = 2030309
b = 1028375
savings(a,b)

my savings is : 1001934

In [30]:
def many_times(string,time):
    for i in range(time):
        print(string)

In [31]:
many_times("Akshay", 4)

Akshay
Akshay
Akshay
Akshay

In [32]:
many_times(4,"Akshay")

TypeError: 'str' object cannot be interpreted as an integer

In [34]:
def higher_number(a,b):
    if a > b :
        print(f"{a} is highrer number")
    else :
        print(f"{b} is higher number")

In [35]:
higher_number(5,3)

5 is highrer number

In [36]:
higher_number(1,3)

3 is higher number

In [37]:
def higher_number_with_error(a,b):
    if a > b :
        print(f"{a} is highrer number")
    else :
        print(f"{b} is higher number")
        result = a + "b"

In [38]:
higher_number_with_error(5,3)

5 is highrer number

In [39]:
higher_number_with_error(10, 20)

20 is higher number

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
def multiply(n1,n2,n3):
    print("multiplication result :", n1*n2*n3)

In [43]:
multiply(2,3.5,6)

multiplication result : 42.0

In [45]:
multiply(2,3.5,6,8)

TypeError: multiply() takes 3 positional arguments but 4 were given

In [46]:
def length(some_list):
    count = 0
    for i in some_list:
        count += 1
    print("lenght of list is :", count)

In [48]:
length([1,2,3,4,5])

lenght of list is : 5