In [1]:
def introduction(name,city):
    print("My name is ", name)
    print("I lived in ", city)

In [2]:
introduction()

TypeError: introduction() missing 2 required positional arguments: 'name' and 'city'

In [3]:
introduction("Akshay","CKM")

My name is  Akshay
I lived in  CKM

In [4]:
def adding(n1,n2,n3):
    return (n1+n2+n3)

In [5]:
adding(34,67)

TypeError: adding() missing 1 required positional argument: 'n3'

In [14]:
def total_score(P,C,M,B):
    print("p:",P, "C:",C ,"M:",M, "B:", B)
    return P+C+M+B

In [15]:
total_score(87,70,57,63)

p: 87 C: 70 M: 57 B: 63

277

In [16]:
total_score(P=78,C=76,M=76,B=67)

p: 78 C: 76 M: 76 B: 67

297

In [17]:
total_score(P=78,C=76,m=76,B=67)

TypeError: total_score() got an unexpected keyword argument 'm'

In [18]:
total_score(78,C=76,M=76,B=67)

p: 78 C: 76 M: 76 B: 67

297

In [19]:
total_score(C=76,M=76,B=67,78)

SyntaxError: positional argument follows keyword argument (474021139.py, line 1)

In [20]:
total_score(B=78,P=76,M=76,C=67)

p: 76 C: 67 M: 76 B: 78

297

In [26]:
def student_details(name,school,P,C,M,B):
    total= P+C+M+B
    print("Name of the student :", name)
    print("name of the school :", school)
    print("p:",P, "C:",C ,"M:",M, "B:", B)
    print("scores:",total)

In [27]:
student_details("Akshay","LBS",P=78,C=76,M=76,B=67)

Name of the student : Akshay
name of the school : LBS
p: 78 C: 76 M: 76 B: 67
scores: 297

In [28]:
student_details(name="Akshay",school="LBS",P=78,C=76,M=76,B=67)

Name of the student : Akshay
name of the school : LBS
p: 78 C: 76 M: 76 B: 67
scores: 297

In [33]:
def student_details(name,school,P,C,M,B,enrolled):
    total= P+C+M+B
    print("Name of the student :", name)
    print("name of the school :", school, "Enrolled :",enrolled)
    print("p:",P, "C:",C ,"M:",M, "B:", B)
    print("scores:",total)

In [30]:
student_details(name="Akshay",school="LBS",P=78,C=76,M=76,B=67,enrolled=True)

Name of the student : Akshay
name of the school : LBS Enrolled : True
p: 78 C: 76 M: 76 B: 67
scores: 297

In [39]:
def student_details(name,school,P,C,M,B,enrolled=True):
    total= P+C+M+B
    print("Name of the student :", name)
    print("name of the school :", school, "Enrolled :",enrolled)
    print("p:",P, "C:",C ,"M:",M, "B:", B)
    print("scores:",total)

In [40]:
student_details(name="Akshay",school="LBS",P=78,C=76,M=76,B=67)

Name of the student : Akshay
name of the school : LBS Enrolled : True
p: 78 C: 76 M: 76 B: 67
scores: 297

In [43]:
def student_details(name,school,P,C,M,B=89,enrolled=True):
    total= P+C+M+B
    print("Name of the student :", name)
    print("name of the school :", school, "Enrolled :",enrolled)
    print("p:",P, "C:",C ,"M:",M, "B:", B)
    print("scores:",total)

In [44]:
student_details(name="Akshay",school="LBS",P=78,C=76,M=76)

Name of the student : Akshay
name of the school : LBS Enrolled : True
p: 78 C: 76 M: 76 B: 89
scores: 319

In [45]:
def student_details(name,school,P=87,C,M,B=89,enrolled=True):
    total= P+C+M+B
    print("Name of the student :", name)
    print("name of the school :", school, "Enrolled :",enrolled)
    print("p:",P, "C:",C ,"M:",M, "B:", B)
    print("scores:",total)

SyntaxError: non-default argument follows default argument (1718522568.py, line 1)

In [46]:
def student_details(name="Akshay",school="LBS",P=87,C=87,M=56,B=89,enrolled=True):
    total= P+C+M+B
    print("Name of the student :", name)
    print("name of the school :", school, "Enrolled :",enrolled)
    print("p:",P, "C:",C ,"M:",M, "B:", B)
    print("scores:",total)

In [47]:
student_details()

Name of the student : Akshay
name of the school : LBS Enrolled : True
p: 87 C: 87 M: 56 B: 89
scores: 319

In [49]:
student_details("Emids","LBSH",P=90,M=76)

Name of the student : Emids
name of the school : LBSH Enrolled : True
p: 90 C: 87 M: 76 B: 89
scores: 342