In [6]:
def print_fn(str_1 ):
    print(str_1)

In [7]:
print_fn()

TypeError: print_fn() missing 1 required positional argument: 'str_1'

In [8]:
def print_fn(str_1="\n"):
    print(str_1)

In [9]:
print_fn()

In [12]:
print_fn("Akshay")

Akshay

In [13]:
print_fn("Akshay","Emids")

TypeError: print_fn() takes from 0 to 1 positional arguments but 2 were given

In [15]:
def print_fn(str_1="\n",str_2=""):
    print(str_1,str_2)

In [19]:
print_fn("Akshay","Emids")

Akshay Emids

In [17]:
print_fn("Akshay","Emids","CKM")

TypeError: print_fn() takes from 0 to 2 positional arguments but 3 were given

# args--------------------------------------

In [22]:
def print_fun(*args):
    args_type = type(args)
    print(args_type)
    
    print(args)

In [24]:
print_fun()

<class 'tuple'>
()

In [25]:
print_fun("Akshay")

<class 'tuple'>
('Akshay',)

In [26]:
print_fun("Akhay","Emids",[1,2,3,4],(1,4,5),{"a":3},{1,2,3,1})

<class 'tuple'>
('Akhay', 'Emids', [1, 2, 3, 4], (1, 4, 5), {'a': 3}, {1, 2, 3})

In [27]:
names_list = [("Akhay","Emids",[1,2,3,4],(1,4,5),{"a":3},{1,2,3,1})]

In [29]:
print_fun(names_list)

<class 'tuple'>
([('Akhay', 'Emids', [1, 2, 3, 4], (1, 4, 5), {'a': 3}, {1, 2, 3})],)

In [39]:
def student_in_college(college,city,*students):
    print("College name :",college)
    print("City name :", city)
    print("students name :",students)

In [40]:
student_in_college()

TypeError: student_in_college() missing 2 required positional arguments: 'college' and 'city'

In [42]:
student_in_college("VTU","Karnataka")

College name : VTU
City name : Karnataka
students name : ()

In [43]:
student_in_college("VTU","Karnataka",'Akshay',"B","c")

College name : VTU
City name : Karnataka
students name : ('Akshay', 'B', 'c')

In [46]:
def student_in_colleges(*students,college,city):
    print("College name :",college)
    print("City name :", city)
    print("students name :",students)

In [47]:
student_in_colleges("Akshay","B")

TypeError: student_in_colleges() missing 2 required keyword-only arguments: 'college' and 'city'

In [48]:
student_in_colleges("Akshay","B",college="VTU",city="Karnataka")

College name : VTU
City name : Karnataka
students name : ('Akshay', 'B')

In [49]:
def student_in_colleges(*students,college="IISC",city):
    print("College name :",college)
    print("City name :", city)
    print("students name :",students)

In [50]:
student_in_colleges("Akshay","B",city="Karnataka")

College name : IISC
City name : Karnataka
students name : ('Akshay', 'B')

In [52]:
def student_in_colleges(*students,college,city="BNG"):
    print("College name :",college)
    print("City name :", city)
    print("students name :",students)

In [53]:
student_in_colleges("Akshay","B",college="IISC")

College name : IISC
City name : BNG
students name : ('Akshay', 'B')

# Kwargs-----------------------------------------------------------------

In [56]:
def student_details(**kwargs):
    print(type(kwargs))
    print(kwargs)

In [58]:
student_details()

<class 'dict'>
{}

In [59]:
student_details(name="Akshay")

<class 'dict'>
{'name': 'Akshay'}

In [60]:
student_details(name="Akshay",city="CKM")

<class 'dict'>
{'name': 'Akshay', 'city': 'CKM'}

In [63]:
def emp_details(**kwargs):
    for key, value in kwargs.items():
        print(key, ":",value)

In [64]:
emp_details(name="Akshay",company="Emids",city='CKM')

name : Akshay
company : Emids
city : CKM

In [68]:
student_dict = {"name":"Akshay","company":"Emids","city":"BNG"}

In [66]:
emp_details(student_dict)

TypeError: emp_details() takes 0 positional arguments but 1 was given

In [69]:
emp_details(**student_dict)

name : Akshay
company : Emids
city : BNG

In [79]:
def student_details(**details):
    if 'name' in details:
        print("Name: ",details['name'])
    if 'city' in details:
        print("city :",details['city'])
    if 'college' in details:
        print("college :",details['college'])

In [71]:
details = {"name":"Akshay","city":"CKM","college":"LBS"}

In [80]:
student_details(name="Akshay")

Name:  Akshay

In [81]:
student_details(name="Akshay",city="CKM")

Name:  Akshay
city : CKM

In [83]:
student_details(name="Akshay",city="CKM",college="IISc")

Name:  Akshay
city : CKM
college : IISc

In [84]:
student_details(name="Akshay",city="CKM",college="IISc",age=24)

Name:  Akshay
city : CKM
college : IISc

In [90]:
def stu_in_col(*student,**details):
    print("*arguments list")
    for i in student:
        print(i)
          
    print()
          
    print("**arguments list")      
    for key, value in details.items():
        print(key, ":", value)

In [91]:
stu_in_col("Akshay","A","B",name="Akshay",city="CKM")

*arguments list
Akshay
A
B

**arguments list
name : Akshay
city : CKM