In [3]:
if 10 < 20 :
    print("if block executed")
else :
    print("else block executed")

if block executed

In [4]:
if 10 > 20 :
    print("if block exbb
    print("else block executed")

else block executed

In [5]:
 if 10 < 20 :
    print("if block executed")
    else :
        print("else block executed")

SyntaxError: invalid syntax (225372541.py, line 3)

In [33]:
num = 30
print("Number before : ", num)
if num < 50 :
    num = num * 3
else :
    num
print("Number after :", num)

Number before :  30
Number after : 90

In [35]:
num = 30
print("Number before : ", num)
num = num * 3 if num < 50 else num
print("Number after :", num)   # Using Ternary operator

Number before :  30
Number after : 90

In [40]:
if 20 > 15 :
    print("20 is greter than 15")
elif 15 < 20 :
    print("15 is less than 20")
else :
    print("else block executed")

20 is greter than 15

In [41]:
x = 10
y = 20
z = 30

In [66]:
if x < y :
    print("y is greater than x")
    if z > y :
        print("z is greater than both x & y")
    else :
        print("y is greter")
else :
    print("x is not greater than y & z")     # Nested if-else

y is greater than x
z is greater than both x & y

In [56]:
age = int(input("Enter your age : "))
if age >= 20 :
    if age > 25 :
        print("Your too old")
    else :
        print('Prepare for trip')
else :
    print("Too small")

Enter your age : 23
Prepare for trip

In [65]:
total = int(input('Enter yor total amount of online shipping'))
country = input('USA or Canada')

if country == "USA" :
    if total <=50 :
        print("Shipping cost is 12")
    elif total <= 100 :
        print("Shipping cost is 10")
    else :
        print("shipping free")
        
if country == "Canada" :
    if total <=50 :
        print("Shipping cost is 10")
    elif total <= 100 :
        print("Shipping cost is 5")
    else :
        print("shipping free")

Enter yor total amount of online shipping80
USA or CanadaCanada
Shipping cost is 5

In [81]:
fruit_list = [ "Apple","Banana","Orange","Cherry","Watermelon"]    # list

In [69]:
if "Apple" in fruit_list :
    print("Yes!.")
else :
    print("No!.")

Yes!.

In [74]:
if "apple" in fruit_list :
    print("We need to check")
elif "Apple" in fruit_list :
    print("Yes!.")
else :
    print("No!.")

Yes!.

In [79]:
if fruit_list[2] == "Orange" :
    print("correct")
else :
    print("Not present")

correct

In [82]:
if fruit_list[2] == "Orange" :
    fruit_list.append("Grapes")
else :
    print("Not present")
fruit_list

['Apple', 'Banana', 'Orange', 'Cherry', 'Watermelon', 'Grapes']

In [83]:
if fruit_list[2] == "Orange" :
    fruit_list[3] = "Blueberry"
else :
    print("Not present")
fruit_list

['Apple', 'Banana', 'Orange', 'Blueberry', 'Watermelon', 'Grapes']

In [84]:
car_tuple = ("Audi","Bently","BMW","Honda","RR","scoda",)    # tuple

In [88]:
if "Bently" in car_tuple :
    print("It's present")
else :
    print("Not present")

It's present

In [90]:
if car_tuple[2] in car_tuple :
    print("It's present")
else :
    print("Not present")

It's present

In [92]:
if "Audi"in car_tuple and "BMW" in car_tuple :
    print("Both are present")
else :
    print("Not present")

Both are present

In [93]:
if "jaguar"in car_tuple or "BMW" in car_tuple :
    print("One of the car is present")
else :
    print("Not present")

One of the car is present

In [100]:
bike_dict = {"Honda":"1000", "Hero":1200, "Bajaj":2000, "Suzuki":2300, "Yamaha":2400}

In [101]:
if "Honda" in bike_dict :
    print("present")
else :
    print("Not present")

present

In [103]:
if "BMW" in bike_dict :
    print("present")
else :
    bike_dict["BMW"] = 5000
    print("BMW added")
bike_dict

BMW added

{'Honda': '1000',
 'Hero': 1200,
 'Bajaj': 2000,
 'Suzuki': 2300,
 'Yamaha': 2400,
 'BMW': 5000}

In [104]:
details = [["a","b","c"],[10,20,30],[1000,2000,3000]]