In [1]:
car = ["Honda","RR","BMW","RangeRovwer"]
print(f"Before swap, {car}")
temp = car[0]
car[0] = car[2]
car[2] = temp
print(f"After swap,{car}")                                  # Swaping element using temp

Before swap, ['Honda', 'RR', 'BMW', 'RangeRovwer']
After swap,['BMW', 'RR', 'Honda', 'RangeRovwer']

In [3]:
car = ["Honda","RR","BMW","RangeRovwer","Benz"]
print(f"Before swap, {car}")

car[0],car[2] = car[2],car[0]
print(f"After swap,{car}")                                # Swaping elements using index meyhod

Before swap, ['Honda', 'RR', 'BMW', 'RangeRovwer', 'Benz']
After swap,['BMW', 'RR', 'Honda', 'RangeRovwer', 'Benz']

In [1]:
bike_list = ["Honda","Bajaj","yamaha","RE","Honda","RE"]
print("Bike list before remove duplicates", bike_list)
print("Total bike",len(bike_list))

bike_set = set(bike_list)
print("Bike list After remove duplicates", list(bike_set))
print("Total bike",len(bike_set))                         # remove duplicates from list
print("Total duplicates", len(bike_list) - len(bike_set))

Bike list before remove duplicates ['Honda', 'Bajaj', 'yamaha', 'RE', 'Honda', 'RE']
Total bike 6
Bike list After remove duplicates ['RE', 'yamaha', 'Bajaj', 'Honda']
Total bike 4
Total duplicates 2

In [4]:
duplicate = len(bike_list) - len(set(bike_list))
duplicate                                                    # Using len() function

2

In [12]:
bike_list = ["Honda","Bajaj","yamaha","RE","Honda","RE"]

len_list = len(bike_list)
len_set = len(set(bike_list))

if len_set == len_list :
    print("No duplicates")
else :
    print(f"There are {len_list - len_set} duplicates")   # cunt the duplicate value

There are 2 duplicates

In [16]:
number = int(input("Enter number from user : "))

if number % 2 == 0 :
    print('Even numver')
else :
    print("Odd number")                             # Even & Odd

Enter number from user : 3544
Even numver

In [22]:
user = input('enter some comma separated value : ')

list_value = user.split(",")
tuple_value = tuple(list_value)
str_value = ",".join(list_value)

print("List",list_value)
print('Tuple',tuple_value)
print("string",str_value)                       # Converting string to list, tuple and string agin

enter some comma separated value : 1,2,3\kd,&gsjsh,(jkd)
List ['1', '2', '3\\kd', '&gsjsh', '(jkd)']
Tuple ('1', '2', '3\\kd', '&gsjsh', '(jkd)')
string 1,2,3\kd,&gsjsh,(jkd)

In [25]:
user = input('enter some comma separated value : ')

list_value = user.split(",")
sorted_list = sorted(list_value)
print("List",list_value)
print('Sort',sorted_list)                   # sorting

enter some comma separated value : Banana,Apple,Kiwi,Grapes,Orange,Cherry
List ['Banana', 'Apple', 'Kiwi', 'Grapes', 'Orange', 'Cherry']
Sort ['Apple', 'Banana', 'Cherry', 'Grapes', 'Kiwi', 'Orange']