In [3]:
new_str = "Python"
print(new_str)

new_str_to_list = list(new_str)
print(new_str_to_list)                        
print(type(new_str_to_list))                # str to list

Python
['P', 'y', 't', 'h', 'o', 'n']

In [4]:
print(type(new_str))
print(type(new_str_to_list))

<class 'str'>
<class 'list'>

In [5]:
list(1,2,3,4)

TypeError: list expected at most 1 argument, got 4

In [6]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [7]:
new_tuple = ("Red", "White", 1,2,3,4,5)
print(new_tuple)

new_tuple_to_list = list(new_tuple)
print(type(new_tuple_to_list))             # tuple to list

('Red', 'White', 1, 2, 3, 4, 5)
['Red', 'White', 1, 2, 3, 4, 5]

In [8]:
print(type(new_tuple))
print(type(new_tuple_to_list))

<class 'tuple'>
<class 'list'>

In [13]:
new_list = ["Apple","Orange", 1,2,3,4]
print(new_list)

new_list_to_tuple = tuple(new_list)
print((new_list_to_tuple))              # list to tuple

['Apple', 'Orange', 1, 2, 3, 4]
('Apple', 'Orange', 1, 2, 3, 4)

In [14]:
print(type(new_list))
print(type(new_list_to_tuple))

<class 'list'>
<class 'tuple'>

In [15]:
new_list_1 = [["Apple","Orange"], [1,2,3,4], ["car","Bike"]]
print(new_list_1)

new_list_1_to_tuple = tuple(new_list_1)
print((new_list_1_to_tuple))

[['Apple', 'Orange'], [1, 2, 3, 4], ['car', 'Bike']]
(['Apple', 'Orange'], [1, 2, 3, 4], ['car', 'Bike'])

In [16]:
new_list_1_to_tuple = tuple(new_list_1[0])
print((new_list_1_to_tuple))                       # Converting inner list to tuple

('Apple', 'Orange')

In [21]:
my_tuple = (("car",1),("Bike",2),("Train",3),("ship",4))
print(my_tuple)

my_dict = dict(my_tuple)
print(my_dict)

(('car', 1), ('Bike', 2), ('Train', 3), ('ship', 4))
{'car': 1, 'Bike': 2, 'Train': 3, 'ship': 4}

In [22]:
my_tuple_1 = (("car",1),("Bike",2),("Train",3),("ship",4),["a",8])
print(my_tuple)

my_dict_1 = dict(my_tuple_1)
print(my_dict_1)

(('car', 1), ('Bike', 2), ('Train', 3), ('ship', 4))
{'car': 1, 'Bike': 2, 'Train': 3, 'ship': 4, 'a': 8}

In [1]:
new_tuple = ("Red", "White", 1,2,3,4,5,"Red",1,3,2)
print(new_tuple)

new_set = set(new_tuple)
print(new_set)

('Red', 'White', 1, 2, 3, 4, 5, 'Red', 1, 3, 2)
{'White', 1, 2, 3, 4, 5, 'Red'}

In [3]:
type(new_set)

set