In [2]:
for letter in ["h","e","l","l","o"]:
    print(letter)
                                               # itterate elements over list

h
e
l
l
o

In [3]:
for letter in "hello":
    print(letter)

h
e
l
l
o

In [6]:
my_string = "hello World"
for char in my_string :
    print(char)

h
e
l
l
o

W
o
r
l
d

In [12]:
for digit in "10":
    print(digit)

1
0

In [13]:
for char in "idia", "US","UK":
    print(char)                                   # itterate elements over tuple

idia
US
UK

In [19]:
dogs = ("pug","doberman","golder retriever")

for dog in dogs :
    print("It's a ",dog)

It's a  pug
It's a  doberman
It's a  golder retriever

In [22]:
dog_weight = (("pug",10),
              ("doberman",30),
              ("golder retriever",20))

for (dog, weight) in dog_weight:
    print(f"{dog} weight is {weight}")

pug weight is 10
doberman weight is 30
golder retriever weight is 20

In [24]:
dog_weight = (("pug",10),
              ("doberman",30),
              ("golder retriever",20))

for i, (dog, weight) in enumerate(dog_weight):
    print(f"{dog} is present at index {i} and it's weight is {weight}")        # enumerated function used for indexing purpose

pug is present at index 0 and it's weight is 10
doberman is present at index 1 and it's weight is 30
golder retriever is present at index 2 and it's weight is 20

In [28]:
car_dict = {"Honda" : 2000, "BMW" : 50000, "RR" : 700000}

for car in car_dict :
    print(car)                                                                # itterate elements over Dictionary

Honda
BMW
RR

In [29]:
for car in car_dict.keys():
    print(car)

Honda
BMW
RR

In [30]:
for price in car_dict.values():
    print(price)

2000
50000
700000

In [42]:
for keys in car_dict :
    print(keys , ":" , car_dict[keys])               # Accessing both key and value

Honda : 2000
BMW : 50000
RR : 700000

In [44]:
for key_value in car_dict.items():
    print(key_value)

('Honda', 2000)
('BMW', 50000)
('RR', 700000)

In [48]:
for key,value in car_dict.items():
    print( key , ":", value)

Honda : 2000
BMW : 50000
RR : 700000

In [54]:
number = [1,2,3,4,5,6,7,8]

for num in number :
    quatient = num //2
    print(quatient, "is a qutatient of", num, "/ 2")

0 is a qutatient of 1 / 2
1 is a qutatient of 2 / 2
1 is a qutatient of 3 / 2
2 is a qutatient of 4 / 2
2 is a qutatient of 5 / 2
3 is a qutatient of 6 / 2
3 is a qutatient of 7 / 2
4 is a qutatient of 8 / 2

In [56]:
mixed_list = [1,2.5,"python",[1,2,3],("aa","orange"),{"a":3,"b":4},True,1+3j,{"a","b","a",1,3,1}]

for item in mixed_list :
    print("Type of " , item , "is", type(item))

Type of  1 is <class 'int'>
Type of  2.5 is <class 'float'>
Type of  python is <class 'str'>
Type of  [1, 2, 3] is <class 'list'>
Type of  ('aa', 'orange') is <class 'tuple'>
Type of  {'a': 3, 'b': 4} is <class 'dict'>
Type of  True is <class 'bool'>
Type of  (1+3j) is <class 'complex'>
Type of  {'a', 3, 1, 'b'} is <class 'set'>

In [57]:
value = [1,2,3,4]
cube = 0

for values in value :
    cube = values ** 3
    print("cube of :", values, "is", cube)

cube of : 1 is 1
cube of : 2 is 8
cube of : 3 is 27
cube of : 4 is 64

In [59]:
user = input("Enter any word : ")
count = 0

for i in user :
    count = count + 1
print(count)                                   # Find the lenghts of word without using len() function

Enter any word : python
6

In [60]:
number = [1,2,3,4,5,6,7]

for i in number :
    print(i)
else :
    print("No more elements left")              # else block in for loop

1
2
3
4
5
6
7
No more elements left

In [63]:
India_cities = ["Bebgalore","Mysore","CKM"]

for city in India_cities :
    if city == "CKM" :
        print("Present")

Present

In [65]:
numbers = [1,2,3,4,5,6,7,8]

for number in numbers :
    if number % 2 == 0 :
        print(number, "is even number")

2 is even number
4 is even number
6 is even number
8 is even number

In [67]:
years = [2000,2001,2003,2004,2005,2008]

for year in years :
    if year % 4 == 0:
        print(year, "is leap year")
    else :
        print(year, "is not leap yaer")                 # Finding leap year

2000 is leap year
2001 is not leap yaer
2003 is not leap yaer
2004 is leap year
2005 is not leap yaer
2008 is leap year

In [69]:
list_1 = [["a","b","c"],[1,2,3]]

for subset in list_1 :
    print(subset)

['a', 'b', 'c']
[1, 2, 3]

In [73]:
for subset in list_1 :
    for name in subset :
        print(name)                                   # nested for loop

a
b
c
1
2
3

In [78]:
car = ["RR","rangerover","audi"]
price = [1000,2000,800]

for i in car :
    for j in price :
        print(i,j)

RR 1000
RR 2000
RR 800
rangerover 1000
rangerover 2000
rangerover 800
audi 1000
audi 2000
audi 800