In [1]:
my_range = range(5)
print(my_range)

range(0, 5)

In [2]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [3]:
list(my_range)

[0, 1, 2, 3, 4]

In [4]:
list(range(3,8))

[3, 4, 5, 6, 7]

In [5]:
list(range(-5,5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [6]:
list(range(2.4))

TypeError: 'float' object cannot be interpreted as an integer

In [7]:
range("A","Z")

TypeError: 'str' object cannot be interpreted as an integer

In [8]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [10]:
for i in range(3) :
    print("Hi")

Hi
Hi
Hi

In [11]:
for _ in range(2):
    print("Hi")

Hi
Hi

In [13]:
for i in range(2**2):
    print(i,"Python")

0 Python
1 Python
2 Python
3 Python

In [14]:
for i in range(5,10):
    print(i,"Python")

5 Python
6 Python
7 Python
8 Python
9 Python

In [16]:
for i in range(1,10):
    print(i, "square is",i**2)
print("End of loop")

1 square is 1
2 square is 4
3 square is 9
4 square is 16
5 square is 25
6 square is 36
7 square is 49
8 square is 64
9 square is 81
End of loop

In [17]:
for i in range(5,10+1):
    print(i)
print("End of loop")

5
6
7
8
9
10
End of loop

In [19]:
for i in range(4,0):
    print(i)
else :
    print("Not possible")          # reverse not possible direct range() function

Not possible

In [20]:
x = range(5)

for i in reversed(x):
    print(i)

4
3
2
1
0

In [21]:
for i in reversed("Welcome"):
    print(i)

e
m
o
c
l
e
W

In [22]:
list(range(2,7,1))

[2, 3, 4, 5, 6]

In [23]:
list(range(2,9,2))

[2, 4, 6, 8]

In [24]:
list(range(4,-4,-1))

[4, 3, 2, 1, 0, -1, -2, -3]

In [25]:
tuple(range(4,-4,-1))

(4, 3, 2, 1, 0, -1, -2, -3)

In [26]:
list(range(-2,-10,-2))

[-2, -4, -6, -8]

In [27]:
start = -2
stop = -10
step = -2

for number in range(start,stop,step):
    print(number)

-2
-4
-6
-8

In [28]:
for i in range(1,10):
    if i % 2 == 0 :
        print(f"{i} is divisible by 2")
    else :
        print(f"{i} is not divisible by 2")

1 is not divisible by 2
2 is divisible by 2
3 is not divisible by 2
4 is divisible by 2
5 is not divisible by 2
6 is divisible by 2
7 is not divisible by 2
8 is divisible by 2
9 is not divisible by 2

In [31]:
list_1 = []

for i in range(1,10):
    if i % 2 == 0:
        list_1.append(i)
print(list_1)

[2, 4, 6, 8]

In [44]:
item =[]

for i in range(100,301):
    str_1 = str(i)
    
    first_digit = int(str_1[0])
    second_digit = int(str_1[1])
    third_digit = int(str_1[2])
    
    if (first_digit % 2 == 0) and (second_digit % 2 == 0) and (third_digit % 2 == 0) :
        item.append(str_1)
print(item)
print(", ".join(item))
len(item)

['200', '202', '204', '206', '208', '220', '222', '224', '226', '228', '240', '242', '244', '246', '248', '260', '262', '264', '266', '268', '280', '282', '284', '286', '288']
200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288

25

In [6]:
for i in range(1,11):
    print(f"num = {i : 3d} : ", end = "")
    for j in range(1,11):
        print(f"{i*j :3d} ", end = "")
    print()

num =   1 :   1   2   3   4   5   6   7   8   9  10
num =   2 :   2   4   6   8  10  12  14  16  18  20
num =   3 :   3   6   9  12  15  18  21  24  27  30
num =   4 :   4   8  12  16  20  24  28  32  36  40
num =   5 :   5  10  15  20  25  30  35  40  45  50
num =   6 :   6  12  18  24  30  36  42  48  54  60
num =   7 :   7  14  21  28  35  42  49  56  63  70
num =   8 :   8  16  24  32  40  48  56  64  72  80
num =   9 :   9  18  27  36  45  54  63  72  81  90
num =  10 :  10  20  30  40  50  60  70  80  90 100