In [2]:
num = range(10)
list_1 = [x*x for x in num]
print(list_1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
letter = [letter for letter in 'python']
print(letter)

['p', 'y', 't', 'h', 'o', 'n']

In [11]:
car_list = ["BMW","Audi","RR","Benz"]
car = [word[0] for word in car_list]
print(car)

['B', 'A', 'R', 'B']

In [12]:
car_list = ["BMW","Audi","RR","Benz"]
car = [word[0].lower() for word in car_list]
print(car)

['b', 'a', 'r', 'b']

In [14]:
car_list = ["BMW","Audi","RR","Benz"]
car = [word.upper() for word in car_list]
print(car)

['BMW', 'AUDI', 'RR', 'BENZ']

In [15]:
list_1 = [x * x for x in range(10) if x % 2 == 0]
print(list_1)

[0, 4, 16, 36, 64]

In [17]:
multiple_27 = [ i for i in range (300) if i % 27 == 0]
print(multiple_27)

[0, 27, 54, 81, 108, 135, 162, 189, 216, 243, 270, 297]

In [18]:
[i for i in "MATHEMATICS" if i in ("A","E","I",'O',"U")]

['A', 'E', 'A', 'I']

In [30]:
string_1 = "hello 123"
number = [int(i) for i in string_1 if i.isdigit()]
print(number)

[1, 2, 3]

In [31]:
string_1 = "hello 123"
count = 0
number = [i for i in string_1 if i.isalpha()]
print(number)

['h', 'e', 'l', 'l', 'o']

In [38]:
car = ["RR","Audi","BMW"]
color = ["Red","Black",'White']

car_color = [(i,j) for i in car for j in color]
print(car_color)

[('RR', 'Red'), ('RR', 'Black'), ('RR', 'White'), ('Audi', 'Red'), ('Audi', 'Black'), ('Audi', 'White'), ('BMW', 'Red'), ('BMW', 'Black'), ('BMW', 'White')]

In [42]:
number = [ i for i in range(25) if i % 2 ==0 and i % 4 ==0]
print(number)

[0, 4, 8, 12, 16, 20, 24]

In [49]:
number = ["even" if i % 2 == 0 else "Odd" for i in range(10)]
print(number)

['even', 'Odd', 'even', 'Odd', 'even', 'Odd', 'even', 'Odd', 'even', 'Odd']

In [51]:
[x * 3 if x <5 else x * 4 for x in [1, 4, 5]]

[3, 12, 20]